@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;600;700&display=swap');

:root {
    --siz: 1.8rem;
    --theme-light: #fafafa;
    --theme-dark: #599290;
}

html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.7em;
    font-family: 'Asap', sans-serif;
    background-color: var(--theme-light);
}

h1 {
    text-align: center;
    line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, input { font-family: 'Asap', sans-serif; }

#input {
    width: 12rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.4rem;
    border: 0.08rem solid var(--theme-dark);
    background-color: transparent;
}

#container-buttons {
    display: flex;
    margin-top: 1rem;
}

#container-numbers {
    display: grid;
    grid-template-columns: var(--siz) var(--siz) var(--siz);
    grid-auto-rows: var(--siz);
    gap: 0.2rem;
    margin-right: 1rem;
}

#container-operators {
    display: grid;
    grid-template-columns: var(--siz) var(--siz);
    grid-auto-rows: var(--siz);
    gap: 0.2rem;
}

.keys {
    cursor: pointer;
    border: none;
    background-color: var(--theme-dark);
    color: var(--theme-light);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.1rem;
    padding: 0;
}

.keys:hover {
    transform: scale(1.1);
    transition: transform 0.15s;
}

@media only screen and (max-width: 600px) {
    html { font-size: 1.2em; }
}